@font-face {
    font-family: 'AnuHindi';
    font-style: normal;
    font-weight: 400;
    src: local('AnuHindi'), url('AnuHindi.otf') format('opentype');
 }

body {
    font-family: 'Tangerine', cursive;
    font-size: 30px;
}

#quote_book_container {
    padding: 50px;
}

.hindi {
    font-family: 'AnuHindi'
}

.book .page {
    height: 100%;
    color: brown;
    background-color:wheat;
    font-size:40px;
    text-align:center;
    display: table;
}

.book .hard {
    color:wheat;
    background-color:brown;
}

.book .page.odd {
    border-left: 3px solid brown;
}

.quote {
    vertical-align:middle;
    display: table-cell;
}

.book {
    margin: 0 auto;
    width: 90%;
    height: 90%;
}
